<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    
    <title>Diagnostic Test Page</title>
  </head>
  <body  th:style="'background: url(/Images/prescriptionImage.jpg) no-repeat center center fixed;'">
<!-- this is the header section  -->
<nav
class="navbar navbar-expand-lg bg-body-tertiary rounded"
aria-label="Eleventh navbar example"
style="background-image: url(/practice/src/main/resources/static/Images/prescriptionImage.jpg);">
<div class="container-fluid">
  <a class="navbar-brand" href="#">Tests Details</a>
</div>
</nav>

<!-- content section      -->
<div class="px-4 py-5 my-5 text-center" id="div_content">
  <h1 class="display-5 fw-bold text-body-emphasis">Welcome to the Diagnostic Test Page</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Thank you for choosing us for your diagnostic testing needs.
       We are committed to providing you with accurate and reliable results. 
       If you have any concerns or require further assistance, please do not hesitate to get in touch with our team.
        Your health and well-being are our top priorities.</p>

  </div>
</div>


    <div class="row g-5">
      <!-- pricing details section  -->
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Price Details of Different Labs</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">VitalCheck Laboratories</h6>
            <small class="text-body-secondary">Blood Tests 1200₹</small> <br>
            <small class="text-body-secondary">Imaging and Radiology Tests 2000₹</small> <br>
            <small class="text-body-secondary">CT Scans 3000₹</small> <br>
            <small class="text-body-secondary">Electrocardiogram 2200₹</small> <br>
            <small class="text-body-secondary">Urine tests 900₹</small> <br>

          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">LifeGuard Diagnostics</h6>
            <small class="text-body-secondary">Blood Tests 1000₹</small> <br>
            <small class="text-body-secondary">Imaging and Radiology Tests 2100₹</small> <br>
            <small class="text-body-secondary">CT Scans 2700₹</small> <br>
            <small class="text-body-secondary">Electrocardiogram 2000₹</small> <br>
            <small class="text-body-secondary">Urine tests 1200₹</small> <br>            
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">LabWise Solutions</h6>
            <small class="text-body-secondary">Blood Tests 700₹</small> <br>
            <small class="text-body-secondary">Imaging and Radiology Tests 1700₹</small> <br>
            <small class="text-body-secondary">CT Scans 2400₹</small> <br>
            <small class="text-body-secondary">Electrocardiogram 1600₹</small> <br>
            <small class="text-body-secondary">Urine tests 800₹</small> <br>            
          </div>
        </li>
      </li>
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div>
          <h6 class="my-0">WellView Labs</h6>
          <small class="text-body-secondary">Blood Tests 800₹</small> <br>
          <small class="text-body-secondary">Imaging and Radiology Tests 1900₹</small> <br>
          <small class="text-body-secondary">CT Scans 2050₹</small> <br>
          <small class="text-body-secondary">Electrocardiogram 1989₹</small> <br>
          <small class="text-body-secondary">Urine tests 1179₹</small> <br>          
        </div>
      </li>
          
      </ul>

     

      <!-- pateint's details section  -->
    </div>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Select The Test Details</h4>
      <form class="needs-validation" th:action="@{DiagnosticTestAdd}" method="post" th:object="${fillingTestForm}">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label" >Patient's First name</label>
            <input type="text" th:field="*{f_name}" class="form-control" id="firstName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>

           <div class="col-sm-6">
            <label for="lastName" class="form-label"> Patient's Last name</label>
            <input type="text" th:field="*{l_name}" class="form-control" id="lastName" placeholder="" value="" required="">
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>

          <div class="col-md-6">
            <label for="country" class="form-label">Test Names</label>
            <select class="form-select" th:field="*{test_name}" id="tests" required=""/>
              <option >Choose Tests</option>
              <option>Blood Tests</option>
              <option>Imaging and Radiology Tests</option>
              <option>CT Scans</option>
              <option>Electrocardiogram</option>
              <option>Urine tests</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid test.
            </div>
          </div>

         
          <div class="col-md-6">
            <label for="country" class="form-label">Lab Names</label>
            <select class="form-select" th:field="*{lab_name}" id="labs" required=""/>
              <option value="">Choose Labs</option>
              <option>VitalCheck Laboratories</option>
              <option>LifeGuard Diagnostics</option>
              <option>LabWise Solutions</option>
              <option>WellView Labs</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid name of the labs.
            </div>
          </div>

          <div class="col-md-6">
            <label for="month" class="form-label">Select Date</label>
            <input type="date" th:field="*{t_date}" class="form-control" id="floatingInput" >
          </div>

          <div class="col-md-6">
            <label for="country" class="form-label">Time Slot</label>
            <select class="form-select" th:field="*{t_slot}" id="time-slot" required=""/>
              <option value="">Choose Time-Slot</option>
              <option>10:00 AM</option>
              <option>11:00 AM</option>
              <option>12:00 PM</option>
              <option>1:00 PM</option>
              <option>2:00 PM</option>
              <option>3:00 PM</option>
              <option>4:00 PM</option>
              <option>5:00 PM</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid Time Slot.
            </div>
          </div>

        <hr class="my-4"> 

        <button class="w-100 btn btn-primary btn-lg" type="submit">Submit</button>
      </form>
    </div>
  </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
